{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

  {% for error in errors %}
    <p>{{ error }}</p>
  {% endfor %}

    <form action= "/submit" method="post">
      <div class="form-group">
        <label for="puppyName">Puppy Name</label>
        <input type="text" class="form-control" id="puppy-name" name= "puppyName" placeholder="Puppy Name">
      </div>

      <div class="form-group">
        <label for="puppy-id">Puppy ID</label>
        <input type="text" class="form-control" id="puppy-id" name= "puppyID" placeholder="Puppy ID">
      </div>

      </div>
      <button type="submit" class="btn btn-default">Create Puppy</button>
  </form>

  </div>

{% endblock %}

